<html lang="en">
  <!--header-->
  <%- include('partials/header')%>
  <body>
    <!-- SECTION: -->
    <section class="header">
      <!---NAVBAR-->
      <%- include('partials/navbar')%>
      <div class="text-box">
        <h1>Dont waste energy</h1>
        <p>Find the best energy efficient appliances for your home.</p>
      </div>
    </section>

    <!-- SECTION: -->
    <section class="products">
      <h1>Use electrical appliances efficiently</h1>
      <p>
        From the deep-freeze in your cellar to the light bulb in your attic:
        it's virtually impossible for any household to function without power
        nowadays. Appliances and equipment in every category harbour vast
        potential for saving energy. Take note of our tips: you'll use less
        power, and you'll also ease the pressure on your budget.
      </p>

      <p>See products based of an area in your home.</p>
      <div class="row px-3 d-flex justify-content-center">
        <div
          class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mt-2 d-flex justify-content-center"
        >
          <a href="/products/livingroom">
            <div class="card" style="width: 18rem">
              <img
                src="images/living-room.jpg"
                class="card-img-top"
                alt="living-room"
              />
              <div class="layer">
                <h3>Living room</h3>
              </div>
            </div>
          </a>
        </div>

        <div
          class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mt-2 d-flex justify-content-center"
        >
          <a href="/products/kitchen">
            <div class="card" style="width: 18rem">
              <img
                src="images/kitchen.jpg"
                class="card-img-top"
                alt="kitchen"
              />
              <div class="layer">
                <h3>Kitchen</h3>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mt-2 d-flex justify-content-center"
        >
          <a href="/products/bathroom">
            <div class="card" style="width: 18rem">
              <img
                src="images/bathroom.jpg"
                class="card-img-top"
                alt="bathroom"
              />
              <div class="layer">
                <h3>Bathroom</h3>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mt-2 d-flex justify-content-center"
        >
          <a href="/products/bedroom">
            <div class="card" style="width: 18rem">
              <img
                src="images/bedroom.png"
                class="card-img-top"
                alt="bedroom"
              />
              <div class="layer">
                <h3>Bedroom</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- SECTION: -->

    <section class="featured-bg">
      <div class="featured">
        <h1>Small steps to save energy at home, achieve big results.</h1>

        <div class="f-text-box">
          <h4>
            1. Switch off lights and electrical appliances when not using them.
          </h4>
          <p>
            To save the most energy, switch off the power rather than leave
            appliances on standby. Turn off your heater, cooling units and
            appliances when you go to bed or leave the house.
          </p>
          <p>
            Switch off your computer and equipment such as printers or Wi-Fi
            routers overnight or when you're away. Most computers have
            energy-saving settings that will turn the computer and screen off
            after a period of inactivity.
          </p>
        </div>
        <div class="f-text-box">
          <h4>2. Switch to energy-saving LED light globes.</h4>
          <p>
            Energy-efficient globes could save up to 80% off your lighting
            costs. This is because LED bulbs use less power and last longer.
            That means you spend less money and time replacing them.
          </p>
        </div>
        <div class="f-text-box">
          <h4>3. Save energy in how you wash and dry clothes.</h4>
          <p>
            Wait until your machine is full before starting a washing cycle.
            Washing clothes in cold water can save around $115 per year. You can
            also save by selecting the shortest appropriate washing cycle.
            Clothes dryers use lots of energy. Hang clothes outside to dry or
            use a fan to help dry them indoors.
          </p>
        </div>
        <div class="f-text-box">
          <h4>4. Manage your heating and cooling.</h4>
          <p>
            Every degree above 20 degrees can add 10% to your heating bill. In
            winter, heating can account for over 30% of your bill. In winter,
            set your thermostat to between 18 and 20 degrees. In summer, set
            your thermostat to 26 degrees or above. Some ducted systems allow
            you to turn off the heating or cooling to unoccupied rooms.above.
          </p>
          <p>
            If you have gas heating and a modern reverse cycle air-conditioner,
            try using your reverse cycle system in heating mode. This will
            reduce your winter bills and improve heating efficiency.
          </p>
        </div>
        <div class="f-text-box">
          <h4>5. Save money with solar energy.</h4>
          <p>
            Using solar electricity you generate can reduce the amount of energy
            you need to buy from your retailer. Solar hot water systems can also
            help you avoid gas charges using a gas-fired water heater.
          </p>
        </div>
      </div>
    </section>

    <!-- SECTION: -->

    <section class="about-bg">
      <div class="about">
        <div class="container wrapabout">
          <div class="red"></div>
          <div class="row">
            <div
              class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0"
            >
              <div class="blockabout">
                <div class="title-big pb-3 mb-3">
                  <h3>ABOUT US</h3>
                </div>
                <p class="description-p text-muted pe-0 pe-lg-0">
                  A shortage becomes particularly problematic in winter, because
                  that's exactly when people are most in need of heating,
                  lighting and hot water. If supplies remain unavailable for a
                  lengthy period, the situation could become even worse and
                  energy quotas would have to be imposed. The aim is to avoid a
                  scenario of this sort. Energy can be saved every day just by
                  taking simple steps to reduce consumption. Relatively minor
                  changes in behaviour can make a big impact.
                </p>
                <p class="description-p text-muted pe-0 pe-lg-0">
                  This website presents practical, easy-to implement
                  energy-saving recommendations for the households, as well as
                  recommends energy efficient products to use in doing the daily
                  routines.
                </p>
                <a href="#" class="myButton">See products</a>
              </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
              <figure class="potoaboutwrap d-none d-lg-block">
                <img src="images/about-img.jpg" alt="potoabout" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SECTION: -->
    <!-- footer: -->
    <%- include('partials/footer')%>
  </body>
</html>
